
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h1 style="text-align:center">PHẢN HỒI</h1>
<h2 style="text-align:center">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liện hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn. Cám ơn quý khách đã sử dụng dịch vụ.</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","BookStore")
    </p>

